{% extends 'lmn/base.html' %}
{% block content %}
<h2>Result by search title</h2>

{% if search_form %}
{% else %}
  <h2 class="note_title">All titles</h2>
{% endif %}

{% for note in notes %}

<div class='note' id="note_{{ note.pk }}">
  <h3 class="note_title"><a href="{% url 'lmn:note_detail' note_pk=note.pk %}">{{ note.title }}</a></h3>
  <p class="note_text">{{ note.text|truncatechars:300}}</p>
  <p class="note_posted_at">{{ note.posted_date}}</p> 
</div>

{% empty %}

  <p id='no_title'>No title records.</p>

{% endfor %}

{% endblock %}