{% extends 'lmn/base.html' %}
{% block content %}



<!-- A user's profile page. -->


<h2 id='username_notes'>{{ user.username }}</h2>

{% if userProfile.fav_artist or userProfile.favShow or userProfile.favVenue %}
  <div class="favs">
    <h3 class="fav_title">Favorites</h3>
    <p id="fav_artist_title">Artist</p>
    <p id="fav_artist">{{ userProfile.favArtist }}</p>
    <p id="fav_show_title">Show</p>
    <p id="fav_show">{{ userProfile.favShow }}</p>
    <p id="fav_venue_title">Venue</p>
    <p id="fav_venue">{{ userProfile.favVenue }}</p>
  </div>
{% else %}
  <p>No Favorites</p>
{% endif %}


<!-- Includes list of user's notes with title and preview of text.
Text truncated to 200 characters. -->
{% for note in notes %}

<div class='note' id="note_{{ note.pk }}">
  <h3 class="note_title"><a href="{% url 'lmn:note_detail' note_pk=note.pk %}">{{ note.title }}</a></h3>
  <P class="note_info">{{ note.show.artist.name }} at {{ note.show.venue.name }} on {{ note.show.show_date }}</P>
  <p class="note_text">{{ note.text|truncatechars:300}}</p>
  <p class="note_posted_at">{{ note.posted_date}}</p>
</div>

{% empty %}

    <p id='no_records'>No notes.</p>

{% endfor %}


{% endblock %}
